%table#clerk-form
  %caption#clerk-form-caption
    -if @new
      Create a new clerk
    -else
      Edit clerk info
  %caption *required fields
  
  %tr
    %td.clerk-form-header= f.label :first_name, "First name*:"
    %td.clerk-form-info= f.text_field :first_name
  %tr
    %td.clerk-form-header= f.label :last_name, "Last name*:"
    %td.clerk-form-info= f.text_field :last_name
  %tr
    %td.clerk-form-header= f.label :login, "Login*:"
    %td.clerk-form-info= f.text_field :login
  %tr
    %td.clerk-form-header= f.label :password, "Password*:"
    %td.clerk-form-info= f.password_field :password
  %tr
    %td.clerk-form-header= f.label :password_confirmation, "Password confirmation*:"
    %td.clerk-form-info= f.password_field :password_confirmation
  %tr
    %td.clerk-form-header= f.label :email, "Email*:"
    %td.clerk-form-info= f.text_field :email
  %tr
    %td.clerk-form-header= f.label :unit, "Unit*:"
    %td.clerk-form-info= f.select :unit, units_hash.keys

