%h1 Set your password

= form_for @clerk, :method => :post, :url => update_clerk_password_path(@clerk) do |f|
  %table#clerk-form
    %tr
      %td.clerk-form-header= f.label :password, "Password*:"
      %td.clerk-form-info= f.password_field :password
    %tr
      %td.clerk-form-header= f.label :password_confirmation, "Password confirmation*:"
      %td.clerk-form-info= f.password_field :password_confirmation

  .options
    = submit_tag "Update Password"