= form_tag resident_path(@resident), :method=>'put'  do
  %table#resident-form
    %caption#resident-form-caption= "Resident Profile"

  = render :partial => "form"
  .options
    %br
    = submit_tag "Update"
    %br
    %br

.options
  = link_to "Cancel", resident_path(@resident)
