%table#resident-packages
  %caption#resident-packages-caption= @caption
  -if @packages != []
    %thead
      %tr.resident-packages-header
        %th.resident-packages-cell Arrival Time
        %th.resident-packages-cell Carrier
        %th.resident-packages-cell Tracking Number
        %th.resident-packages-cell Package Type
        %th.resident-packages-cell Picked up?
    %tbody
      - @packages.each do |p|
        %tr.resident-packages-info
          %td.resident-packages-cell= p.datetime_received.localtime.strftime("%m/%d/%y %I:%M%p")
          %td.resident-packages-cell= p.carrier
          %td.resident-packages-cell= p.tracking_number
          %td.resident-packages-cell= p.package_type
          %td.resident-packages-cell= p.picked_up ? "Yes" : "No"
            
