%table.login
  %caption.login-caption Clerk Login
  %tr
    %td.login-header= f.label :login
    %td.login-field= f.text_field :login, :size => 15 
  %tr
    %td.login-header= f.label :password
    %td.login-field= f.password_field :password, :size => 15 
  %tr
    %td.login-checkbox= f.check_box :remember_me
    %td= f.label :remember_me
  