!!! 5
%html
  %head
    %title BearTracks
    %link{:href => "http://fonts.googleapis.com/css?family=Droid+Sans", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    #header
      %h1.title= link_to "BearTracks", root_url
      #user_nav
        = link_to "Add New Clerk", new_clerk_path
        |
        - if current_resident
          = link_to "Resident Logout", resident_logout_path
        - elsif current_clerk
          = link_to "Clerk Logout", clerk_logout_path
        - else
          = link_to "Clerk Login", clerk_login_path

    #flash
      - if flash[:notice]
        #notice
          %span{:class => "notice"}
            = flash[:notice]
      - elsif flash[:warning]
        #warning
          %span{:class => "warning"}
            = flash[:warning]
      - elsif flash[:error]
        #error
          %span{:class => "error"}
            = flash[:error]
    
    .wrapper
      = yield
      .push

    #footer
      .main
        #footimage
          = image_tag("campanile_shadow.png")
      .secondary
        %p (c) 2012 UC Berkeley CS169 Group 17. All Rights Reserved.
