!!! 5
%html
  %head
    %title BearTracks
    %link{:href => "http://fonts.googleapis.com/css?family=Droid+Sans", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    #header
      %h1.title= link_to "BearTracks", root_url
      = debug current_clerk
      #user_nav
        - if (!current_clerk.nil?) and (current_clerk.is_admin?)
          = link_to "Add New Clerk", new_clerk_path
        |
        - if current_resident
          = link_to "Resident Logout", resident_logout_path
        - elsif current_clerk
          = link_to "Edit Profile", edit_clerk_path(current_clerk)
          |
          = link_to "Clerk Logout", clerk_logout_path
        - else
          = link_to "Clerk Login", clerk_login_path

    #flash
      - if flash[:notice]
        #notice
          %span.notice
            = flash[:notice]
      - elsif flash[:warning]
        #warning
          %span.warning
            = flash[:warning]
      - elsif flash[:error]
        #error
          %span.error
            = flash[:error]
    
    #wrapper
      = yield

    #footer (c) 2012 UC Berkeley CS169 Group 17. All Rights Reserved.
