!!! 5
%html
  %head
    %title BearTracks
    %link{:href => "http://fonts.googleapis.com/css?family=Droid+Sans", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    #header
      %h1.title BearTracks
      #user_nav
        = link_to "Add New Clerk", new_clerk_path
        |
        - if not current_clerk and current_resident
          = link_to "Logout", resident_logout_path
        - elsif current_clerk and not current_resident
          = link_to "Logout", clerk_logout_path
        - elsif not current_clerk
          = link_to "Clerk Login", clerk_logout_path

    #flash
      - if flash[:notice]
        #notice
          %span{:class => "message"} 
            = flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]
    
    .wrapper
      = yield
      .push

    #footer
      .main
        #footimage
          = image_tag("campanile_shadow.png")
      .secondary
        %p (c) 2012 UC Berkeley CS169 Group 17. All Rights Reserved.
