!!! 5
%html
  %head{:profile => "http://www.w3.org/2005/10/profile"}
    = favicon_link_tag 'favicon.png'
    %title BearTracks
    %link{:href => "http://fonts.googleapis.com/css?family=Droid+Sans", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    #login_status_bar
      - if current_clerk
        %h1#username 
          = "#{current_clerk.first_name} #{current_clerk.last_name}"
        %span.user_links
          - if current_clerk.is_admin?
            = link_to "Edit Profile", edit_clerk_path(current_clerk)
            |
          = link_to "LOGOUT", clerk_logout_path
      - elsif current_resident
        %h1#username
          - if current_resident.nickname.blank?
            = "Hey, #{current_resident.first_name}"
          - else
            = "Hey, #{current_resident.nickname}"
        %span.user_links
          = link_to "My Profile", resident_path(current_resident)
          |
          = link_to "LOGOUT", resident_logout_path
      - else
        %span.user_links
          = link_to "CLERK LOGIN", clerk_login_path
        
        
    #header
      .title
        - if current_resident
          %h1.title= link_to "BearTracks", residents_path
        - elsif current_clerk
          %h1.title= link_to "BearTracks", packages_path
        - else
          %h1.title= link_to "BearTracks", root_url
        
    - if current_clerk
      #user_nav
        = link_to "View Packages", packages_path
        - if current_clerk.is_admin?
          |
          = link_to "View All Clerks", clerks_path
          |
          = link_to "Add New Clerk", new_clerk_path
        
    #flash
      - if flash[:notice]
        #notice
          %span.notice
            = flash[:notice]
      - elsif flash[:warning]
        #warning
          %span.warning
            = flash[:warning]
      - elsif flash[:error]
        #error
          %span.error
            = flash[:error]
    
    #wrapper
      = yield :head
      = yield

    #footer (c) 2012 UC Berkeley CS169 Group 17. All Rights Reserved.
